<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" >Practica Analisis</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"  href="" >Cerrar Sesion</a> 
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
  <div class="px-4 px-lg-0">  
    <div style="margin-top: 6%;" class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
              <h1>Transacciones</h1>
            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">ID</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Movie</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">User</div>
                      </th>
                    <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">State</div>
                      </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dato of datos;">
                    <td class="border-0 align-middle"><strong>{{dato.id}}</strong></td>
                    <th scope="row" class="border-0">
                      <div class="p-2">
                        <img [src]="dato.movieImage" alt="" width="70" class="img-fluid rounded shadow-sm">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a  class="text-dark d-inline-block align-middle"> {{dato.movieName}}</a></h5>
                        </div>
                      </div>
                    </th>
                    <td class="border-0 align-middle"><strong>{{dato.correo}}</strong></td>
                    <td class="border-0 align-middle"><strong>{{dato.estado}}</strong></td>
                    <td class="border-0 align-middle"><strong>${{dato.movieChargeRate}}</strong></td>
                    <td class="border-0 align-middle"><strong>{{dato.cantidad}}</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End -->
          </div>
        </div>  
      </div>
    </div>
  </div>
<h1 style="text-align: center;">Inventario</h1>
  <div class="wrappers" *ngFor="let peli of data">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <a id="foto{{peli.name}}">
                <img src="{{peli.image}}" class="fadeIn second" >
            </a>
        </div>
        <p>{{peli.name}} </p>
  </div>
