<div class="wrapper fadeInDown">
    <div id="formContent">
      <h1>Registrar Usuario</h1>
        <input type="text" style="max-height: 40px;" id="user"  placeholder="User Name">
        <input type="text" style="max-height: 40px;" id="correo"  placeholder="Correo">
        <input type="password" style="max-height: 40px;" id="psw" placeholder="Passowrd">
        <input type="text" style="max-height: 40px;" id="nombres"  placeholder="Nombres">
        <input type="text" style="max-height: 40px;" id="apellidos"  placeholder="Apellidos">
        <input type="number" style="max-height: 40px;" id="dpi"  placeholder="DPI">
        <input type="number" style="max-height: 40px;" id="edad"  placeholder="Edad">
        
        
        <input type="submit" id="add" class="fadeIn fourth" value="Registrar" (click)="registrar()">
      
  </div>
  