<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://ksatravel.net//assets/img/admin.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
        <input type="text" #login id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="password" #password id="password" class="fadeIn third" name="login" placeholder="password" >
        <input type="submit" class="fadeIn fourth" id="ingresar" value="Log In" (click)="iniciar(login.value, password.value)">
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>